<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>Status Label Opacity</string>
    <string>Away Enabled</string>
    <string>Idle Enabled</string>
    <string>Signed Off Enabled</string>
    <string>Signed On Enabled</string>
    <string>Typing Enabled</string>
    <string>Unviewed Content Enabled</string>
    <string>Online Enabled</string>
    <string>Idle And Away Enabled</string>
	<string>Offline Enabled</string>
    <string>Away Color</string>
    <string>Idle Color</string>
    <string>Signed Off Color</string>
    <string>Signed On Color</string>
    <string>Typing Color</string>
    <string>Unviewed Content Color</string>
    <string>Online Color</string>
    <string>Idle And Away Color</string>
    <string>Away Label Color</string>
    <string>Idle Label Color</string>
    <string>Signed Off Label Color</string>
    <string>Signed On Label Color</string>
    <string>Typing Label Color</string>
    <string>Unviewed Content Label Color</string>
    <string>Online Label Color</string>
    <string>Idle And Away Label Color</string>
	<string>Offline Color</string>
	<string>Offline Label Color</string>
</array>
</plist>
