<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ErrorDisc</key>
	<dict>
		<key>904</key>
		<true/>
		<key>980</key>
		<true/>
		<key>981</key>
		<true/>
		<key>982</key>
		<true/>
		<key>983</key>
		<true/>
		<key>989</key>
		<true/>
	</dict>
	<key>ErrorString</key>
	<dict>
		<key>901</key>
		<string>User is currently unavailable</string>
		<key>902</key>
		<string>User information is currently unavilable</string>
		<key>903</key>
		<string>(1) You are sending messages too fast; last message was dropped</string>
		<key>904</key>
		<string>You've been bumped off because your screenname has signed on from somewhere else</string>
		<key>911</key>
		<string>Invalid username (or) Unable to change password</string>
		<key>915</key>
		<string>(2) You are sending messages too fast; last message was dropped</string>
		<key>931</key>
		<string>Your buddy list is full, can't fit user</string>
		<key>950</key>
		<string>Chat room is currently unavailable</string>
		<key>960</key>
		<string>(3) You are sending messages too fast; last message was dropped</string>
		<key>961</key>
		<string>Incoming message delivery failure (Message too big)</string>
		<key>962</key>
		<string>Incoming message delivery failure (Message sent too fast)</string>
		<key>964</key>
		<string>Outgoing message delivery failure (Message too big)</string>
		<key>970</key>
		<string>User information is currently unavilable (1)</string>
		<key>971</key>
		<string>User information is currently unavilable (Too many matches)</string>
		<key>972</key>
		<string>User information is currently unavilable (Need more qualifiers)</string>
		<key>973</key>
		<string>User information is currently unavilable (Directory service unavailable)</string>
		<key>974</key>
		<string>User information is currently unavilable (Email lookup restricted)</string>
		<key>975</key>
		<string>User information is currently unavilable (Keyword ignored)</string>
		<key>976</key>
		<string>User information is currently unavilable (No keywords)</string>
		<key>977</key>
		<string>User information is currently unavilable (Language not supported)</string>
		<key>978</key>
		<string>User information is currently unavilable (Country not supported)</string>
		<key>979</key>
		<string>User information is currently unavilable (2)</string>
		<key>980</key>
		<string>Invalid username or password</string>
		<key>981</key>
		<string>Unknown error (Service temporarily unavailable)</string>
		<key>982</key>
		<string>You are blocked (Your warning level is too high to sign on)</string>
		<key>983</key>
		<string>You are blocked (You have been connecting and disconnecting too frequently)</string>
		<key>989</key>
		<string>That account is currently suspended (or) The host has refused this connection</string>
	</dict>
</dict>
</plist>
