<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Font</key>
	<string>Lucida Grande,11</string>
	<key>Alternating Grid</key>
	<false/>
	<key>Background Color</key>
	<string>255,255,255</string>
	<key>Grid Color</key>
	<string>237,243,254</string>
	<key>Contact Color</key>
	<string>0,0,0</string>
	<key>Group Color</key>
	<string>0,0,0</string>
	<key>Opacity</key>
	<real>1.0</real>
	<key>Custom Group Color</key>
	<false/>
	<key>Bold Groups</key>
	<true/>
        <key>Outline Groups</key>
        <false/>
        <key>Outline Groups Color</key>
        <string>255,255,255</string>
	<key>Show Labels</key>
	<true/>
        <key>Borderless</key>
        <false/>
        <key>Shadows</key>
        <true/>
        <key>Row Spacing</key>
        <real>2.0</real>
        <key>Tooltips In Background</key>
        <true/>
        <key>Label Around Contact</key>
        <false/>
        <key>Outline Labels</key>
        <false/>
            <key>Use Gradient</key>
        <false/>
        <key>Label Opacity</key>
        <real>1.0</real>
        <key>Label Groups</key>
        <false/>
        <key>Label Groups Color</key>
        <string>255,255,255</string>    
        
</dict>
</plist>
