<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AB Enable Import</key>
	</true>
	<key>AB Display Format</key>
	</true>
	<key>AB Image Sync</key>
	</false>
	<key>AB Use NickName</key>
	</true>
	<key>AB Prefer AB Images</key>
	</false>
</dict>
</plist>
