@import url(../styles/fff.css);

body {
	background: url(../images/paper.png);
}

.container.message.me {
	background: rgba(153,153,153,.5);
}
.container.message.me .text a {
        color: #333333;
}

.container.message.you {
	background: rgba(255,255,255,.5);
}
.container.message.you .text a {
        color: #666666;
}

.container.context {
	background: rgba(204,204,204,.5);
}
.container.context .text a {
        color: #333333;
}

.container.status {
	background: rgba(204,204,204,.5);
}
.container.status .text a {
        color: #333333;
}
