<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DataClasses</key>
	<array>
		<dict>
			<key>ImagePath</key>
			<string>SyncDataClass.tiff</string>
			<key>Name</key>
			<string>com.adiumx.Accounts</string>
		</dict>
		<dict>
			<key>ImagePath</key>
			<string>SyncDataClass.tiff</string>
			<key>Name</key>
			<string>com.adiumx.Preferences</string>
		</dict>
	</array>
	<key>Entities</key>
	<array>
		<dict>
			<key>Attributes</key>
			<array>
				<dict>
					<key>Name</key>
					<string>protocol</string>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>enabled</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>iconType</string>
					<key>Type</key>
					<string>number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>icon</string>
					<key>Type</key>
					<string>data</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>shouldConnect</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>screenName</string>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>accountAlias</string>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>profile</string>
					<key>Type</key>
					<string>data</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>server</string>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>port</string>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>checkEmail</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>displayRecentGroup</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>encryptionType</string>
					<key>Type</key>
					<string>number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>showTyping</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>useProxy</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>proxyType</string>
					<key>Type</key>
					<string>number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>proxyServer</string>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>proxyPort</string>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>proxyUser</string>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>proxyPassword</string>
					<key>Type</key>
					<string>string</string>
				</dict>
			</array>
			<key>DataClass</key>
			<string>com.adiumx.Accounts</string>
			<key>IdentityProperties</key>
			<array>
				<string>protocol</string>
				<string>screenname</string>
			</array>
			<key>Name</key>
			<string>com.adiumx.Account</string>
			<key>Relationships</key>
			<array/>
		</dict>
		<dict>
			<key>Attributes</key>
			<array/>
			<key>DataClass</key>
			<string>com.adiumx.Accounts</string>
			<key>IdentityProperties</key>
			<array/>
			<key>Name</key>
			<string>com.adiumx.AccountPreferences</string>
			<key>Relationships</key>
			<array>
				<dict>
					<key>DeleteRule</key>
					<string>nullify</string>
					<key>Name</key>
					<string>accountList</string>
					<key>Ordinality</key>
					<string>many</string>
					<key>Required</key>
					<true/>
					<key>Target</key>
					<array>
						<string>com.adiumx.Account</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Attributes</key>
			<array>
				<dict>
					<key>Name</key>
					<string>shouldLogChats</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>createNewTab</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>organizeTabs</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>keyboardSendType</string>
					<key>Type</key>
					<string>number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>tabSwitchType</string>
					<key>Type</key>
					<string>number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>displayStatusMenuItem</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>globalShortcut</string>
					<key>Type</key>
					<string>string</string>
				</dict>
			</array>
			<key>DataClass</key>
			<string>com.adiumx.Preferences</string>
			<key>IdentityProperties</key>
			<array/>
			<key>Name</key>
			<string>com.adiumx.GeneralPreferences</string>
			<key>Relationships</key>
			<array/>
		</dict>
		<dict>
			<key>Attributes</key>
			<array>
				<dict>
					<key>Name</key>
					<string>showReceivedFonts</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>showMessageColors</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
			</array>
			<key>DataClass</key>
			<string>com.adiumx.Preferences</string>
			<key>IdentityProperties</key>
			<array/>
			<key>Name</key>
			<string>com.adiumx.MessagePreferences</string>
			<key>Relationships</key>
			<array/>
		</dict>
		<dict>
			<key>Attributes</key>
			<array>
				<dict>
					<key>Name</key>
					<string>useGlobalIcon</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>globalIcon</string>
					<key>Type</key>
					<string>data</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>globalAlias</string>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>globalProfile</string>
					<key>Type</key>
					<string>data</string>
				</dict>
			</array>
			<key>DataClass</key>
			<string>com.adiumx.Preferences</string>
			<key>IdentityProperties</key>
			<array/>
			<key>Name</key>
			<string>com.adiumx.PersonalPreferences</string>
			<key>Relationships</key>
			<array/>
		</dict>
		<dict>
			<key>Attributes</key>
			<array>
				<dict>
					<key>Name</key>
					<string>autoAcceptTransfers</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>autoAcceptOnlyFromList</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>automaticallyOpenSafeFiles</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>showTransferWindow</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
			</array>
			<key>DataClass</key>
			<string>com.adiumx.Preferences</string>
			<key>IdentityProperties</key>
			<array/>
			<key>Name</key>
			<string>com.adiumx.FileTransferPreferences</string>
			<key>Relationships</key>
			<array/>
		</dict>
		<dict>
			<key>Attributes</key>
			<array>
				<dict>
					<key>Name</key>
					<string>flashContactNames</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>showContactTransitions</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>showListShadow</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>showTooltips</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>showTooltipsInBackground</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>autohideList</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>autohideInBackground</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>listWindowLevel</string>
					<key>Type</key>
					<string>number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>animateDockIcon</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>displayNameBadgeCount</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>useCustomNameFormat</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>customNameFormat</string>
					<key>Type</key>
					<string>number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>alwaysShowTabs</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>allowInactiveTabClosing</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>hideAdiumWhileInBackground</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>displayCustomEmoticons</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>showDisplayNameAsStatus</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>showStatusWindowAboveOthers</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>hideStatusWindowWhenInactive</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>messageWindowsLevel</string>
					<key>Type</key>
					<string>number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>timeStampFormat</string>
					<key>Type</key>
					<string>number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>minimumMessageFontSize</string>
					<key>Type</key>
					<string>number</string>
				</dict>
			</array>
			<key>DataClass</key>
			<string>com.adiumx.Preferences</string>
			<key>IdentityProperties</key>
			<array/>
			<key>Name</key>
			<string>com.adiumx.AdvancedPreferences</string>
			<key>Relationships</key>
			<array/>
		</dict>
	</array>
	<key>Name</key>
	<string>com.adiumx.adium</string>
</dict>
</plist>
