<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<integer>1</integer>
	<key>Components</key>
	<array>
		<dict>
			<key>Class</key>
			<string>AIAccountListPreferencesPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIAccountMenuAccessPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIAliasSupportPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIAppearancePreferencesPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIAutoIdlePlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIAutoLinkingPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIAutoReplyPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIBookmarksImporterPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIChatConsolidationPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIChatCyclingPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIContactAwayPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIContactIdlePlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIContactListEditorPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIContactOnlineSincePlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIContactSortSelectionPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIContactStatusColoringPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIContactStatusDockOverlaysPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIContactStatusEventsPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIContactWarningLevelPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIDefaultFormattingPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIDockAccountStatusPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIDockBehaviorPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIDockUnviewedContentPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIDualWindowInterfacePlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIEventSoundsPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIExtendedStatusPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AILoggerPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIMessageAliasPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AINewMessagePanelPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIOfflineContactHidingPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AISCLViewPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AISpellCheckingPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIStandardToolbarItemsPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIStateMenuPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIStatusChangedMessagesPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AITabStatusIconsPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AITypingNotificationPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AIVideoChatInterfacePlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BGContactNotesPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BGEmoticonMenuPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>CBActionSupportPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>CBContactCountingDisplayPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>CBContactLastSeenPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>CBStatusMenuItemPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>CBURLHandlingPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>CPFVersionChecker</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>DCInviteToChatPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>DCJoinChatPanelPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>DCMessageContextDisplayPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>ESAccountEvents</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>ESAccountNetworkConnectivityPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>ESAddressBookIntegrationPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>ESAnnouncerPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>ESApplescriptContactAlertPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>ESBlockingPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>ESContactClientPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>ESContactServersideDisplayName</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>ESFastUserSwitchingSupportPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>ESFileTransferMessagesPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>ESMessageEvents</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>ESMetaContactContentsPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>ESOpenMessageWindowContactAlertPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>ESSafariLinkToolbarItemPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>ESSendMessageContactAlertPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>ESUserIconHandlingPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>ErrorMessageHandlerPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>GBApplescriptFiltersPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>SAContactOnlineForPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>SHLinkManagementPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>ESGlobalEventsPreferencesPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>ESGeneralPreferencesPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>NEHGrowlPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>ESSecureMessagingPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>ESStatusPreferencesPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>ESAutoAwayPlugin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>ESAwayStatusWindowPlugin</string>
		</dict>
	</array>
</dict>
</plist>
