/* General Page */
body{
	background-color:#ffffff;
}


/* Style for tree item text */
.t0i {
	font-family: helvetica;
	font-size: 11px;
	color: #000000;
	background-color: #FFFFFF;
	text-decoration: none;
}


/* Style for tree item image */
.t0im {
	border: 0px;
	width: 16px;
	height: 16px;
}

/* Hover Links */
a:link{
	color: #000000;
	text-decoration: none;
}
a:visited{
	color: #000000;
	text-decoration: none;
}
a:hover{
	color: #0000ff;
	text-decoration: underline;
}
