<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Participants</key>
	<array>
		<dict>
			<key>UID</key>
			<string>TekJew</string>
			<key>Display Name</key>
			<string>Evan</string>
			<key>UserIcon Name</key>
			<string>SoulEdge.png</string>
		</dict>
		<dict>
			<key>UID</key>
			<string>fetchgreebledonx</string>
			<key>Display Name</key>
			<string>Jeff</string>
			<key>UserIcon Name</key>
			<string>Terminator.png</string>
		</dict>
	</array>
	
	<key>Chat</key>
	<dict>
		<key>Type</key>
		<string>IM</string>
		<key>Destination UID</key>
		<string>fetchgreebledonx</string>
		<key>Source UID</key>
		<string>TekJew</string>
		<key>Date Opened</key>
		<string>2004-04-19 12:45:47 -0500</string>
	</dict>
	
	<key>Preview Messages</key>
	<dict>
		<key>1</key>
		<dict>
			<key>Autoreply</key>
			<false/>
			<key>Date</key>
			<string>2004-04-19 12:48:02 -0500</string>
			<key>From</key>
			<string>TekJew</string>
			<key>Message</key>
			<data>
			e1xydGYxXG1hY1xhbnNpY3BnMTAwMDBcY29jb2FydGYxMDIKe1xm
			b250dGJsXGYwXGZzd2lzc1xmY2hhcnNldDc3IEhlbHZldGljYTt9
			CntcY29sb3J0Ymw7XHJlZDI1NVxncmVlbjI1NVxibHVlMjU1O1xy
			ZWQwXGdyZWVuMFxibHVlMDt9ClxwYXJkXHR4NTYwXHR4MTEyMFx0
			eDE2ODBcdHgyMjQwXHR4MjgwMFx0eDMzNjBcdHgzOTIwXHR4NDQ4
			MFx0eDUwNDBcdHg1NjAwXHR4NjE2MFx0eDY3MjBccWxccW5hdHVy
			YWwKClxmMFxmczIyIFxjZjIgR290dGEgcnVuOyBjYXRjaCB5YSBs
			YXRlciA7KX0=
			</data>
			<key>Outgoing</key>
			<true/>
			<key>To</key>
			<string>fetchgreebledonx</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
		<key>2</key>
		<dict>
			<key>Autoreply</key>
			<true/>
			<key>Date</key>
			<string>2004-04-19 12:47:51 -0500</string>
			<key>From</key>
			<string>fetchgreebledonx</string>
			<key>Message</key>
			<data>
			e1xydGYxXG1hY1xhbnNpY3BnMTAwMDBcY29jb2FydGYxMDIKe1xm
			b250dGJsXGYwXGZzd2lzc1xmY2hhcnNldDc3IEhlbHZldGljYTt9
			CntcY29sb3J0Ymw7XHJlZDI1NVxncmVlbjI1NVxibHVlMjU1O1xy
			ZWQwXGdyZWVuMFxibHVlMDt9ClxwYXJkXHR4NTYwXHR4MTEyMFx0
			eDE2ODBcdHgyMjQwXHR4MjgwMFx0eDMzNjBcdHgzOTIwXHR4NDQ4
			MFx0eDUwNDBcdHg1NjAwXHR4NjE2MFx0eDY3MjBccWxccW5hdHVy
			YWwKClxmMFxmczI0IFxjZjIgQXdheSBmb3IgdGhlIHNha2Ugb2Yg
			YmVpbmcgYXdheS59
			</data>
			<key>Outgoing</key>
			<false/>
			<key>To</key>
			<string>TekJew</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
		<key>3</key>
		<dict>
			<key>Autoreply</key>
			<false/>
			<key>Date</key>
			<string>2004-04-19 12:47:51 -0500</string>
			<key>From</key>
			<string>TekJew</string>
			<key>Message</key>
			<data>
			e1xydGYxXG1hY1xhbnNpY3BnMTAwMDBcY29jb2FydGYxMDIKe1xm
			b250dGJsXGYwXGZzd2lzc1xmY2hhcnNldDc3IEhlbHZldGljYTt9
			CntcY29sb3J0Ymw7XHJlZDI1NVxncmVlbjI1NVxibHVlMjU1O1xy
			ZWQwXGdyZWVuMFxibHVlMDt9ClxwYXJkXHR4NTYwXHR4MTEyMFx0
			eDE2ODBcdHgyMjQwXHR4MjgwMFx0eDMzNjBcdHgzOTIwXHR4NDQ4
			MFx0eDUwNDBcdHg1NjAwXHR4NjE2MFx0eDY3MjBccWxccW5hdHVy
			YWwKClxmMFxmczIyIFxjZjIgUHJlY2lzZWx5ISBpdCdzIGEgcmlz
			ayBvbmUgdGFrZXMgd2hlbmV2ZXIgb25lIHdhbGtzIGludG8gYSBi
			YXIsIEknbSBhZnJhaWQsIGVzcGVjaWFsbHkgaWYgb25lIGlzIGEg
			Y2hpY2tlbi59
			</data>
			<key>Outgoing</key>
			<true/>
			<key>To</key>
			<string>fetchgreebledonx</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
		<key>4</key>
		<dict>
			<key>Autoreply</key>
			<false/>
			<key>Date</key>
			<string>2004-04-19 12:47:06 -0500</string>
			<key>From</key>
			<string>fetchgreebledonx</string>
			<key>Message</key>
			<data>
			e1xydGYxXG1hY1xhbnNpY3BnMTAwMDBcY29jb2FydGYxMDIKe1xm
			b250dGJsXGYwXGZzd2lzc1xmY2hhcnNldDc3IEhlbHZldGljYTt9
			CntcY29sb3J0Ymw7XHJlZDI1NVxncmVlbjI1NVxibHVlMjU1O1xy
			ZWQwXGdyZWVuMFxibHVlMDt9ClxwYXJkXHR4NTYwXHR4MTEyMFx0
			eDE2ODBcdHgyMjQwXHR4MjgwMFx0eDMzNjBcdHgzOTIwXHR4NDQ4
			MFx0eDUwNDBcdHg1NjAwXHR4NjE2MFx0eDY3MjBccWxccW5hdHVy
			YWwKClxmMFxmczI0IFxjZjIgLi4uIHRodXMgbmVnYXRpbmcgYWxs
			IGV4aXN0ZW5jZSF9
			</data>
			<key>Outgoing</key>
			<false/>
			<key>To</key>
			<string>TekJew</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
		<key>5</key>
		<dict>
			<key>Autoreply</key>
			<false/>
			<key>Date</key>
			<string>2004-04-19 12:47:00 -0500</string>
			<key>From</key>
			<string>TekJew</string>
			<key>Message</key>
			<data>
			e1xydGYxXG1hY1xhbnNpY3BnMTAwMDBcY29jb2FydGYxMDIKe1xm
			b250dGJsXGYwXGZzd2lzc1xmY2hhcnNldDc3IEhlbHZldGljYTt9
			CntcY29sb3J0Ymw7XHJlZDI1NVxncmVlbjI1NVxibHVlMjU1O1xy
			ZWQwXGdyZWVuMFxibHVlMDt9ClxwYXJkXHR4NTYwXHR4MTEyMFx0
			eDE2ODBcdHgyMjQwXHR4MjgwMFx0eDMzNjBcdHgzOTIwXHR4NDQ4
			MFx0eDUwNDBcdHg1NjAwXHR4NjE2MFx0eDY3MjBccWxccW5hdHVy
			YWwKClxmMFxmczIyIFxjZjIgQnV0IHRoYXQgbWlnaHQgYmUgaWYg
			eW91IGNyb3NzIHRoZSBzdHJlYW1zLi4ufQ==
			</data>
			<key>Outgoing</key>
			<true/>
			<key>To</key>
			<string>fetchgreebledonx</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
		<key>6</key>
		<dict>
			<key>Autoreply</key>
			<false/>
			<key>Date</key>
			<string>2004-04-19 12:46:50 -0500</string>
			<key>From</key>
			<string>TekJew</string>
			<key>Message</key>
			<data>
			e1xydGYxXG1hY1xhbnNpY3BnMTAwMDBcY29jb2FydGYxMDIKe1xm
			b250dGJsXGYwXGZzd2lzc1xmY2hhcnNldDc3IEhlbHZldGljYTt9
			CntcY29sb3J0Ymw7XHJlZDI1NVxncmVlbjI1NVxibHVlMjU1O1xy
			ZWQwXGdyZWVuMFxibHVlMDt9ClxwYXJkXHR4NTYwXHR4MTEyMFx0
			eDE2ODBcdHgyMjQwXHR4MjgwMFx0eDMzNjBcdHgzOTIwXHR4NDQ4
			MFx0eDUwNDBcdHg1NjAwXHR4NjE2MFx0eDY3MjBccWxccW5hdHVy
			YWwKClxmMFxmczIyIFxjZjIgSWYgSSByZW1lbWJlciBjb3JyZWN0
			bHksIHRoZXkgZXhwbG9kZSBvdXR3YXJkIGF0IHRoZSBzcGVlZCBv
			ZiBsaWdodC59
			</data>
			<key>Outgoing</key>
			<true/>
			<key>To</key>
			<string>fetchgreebledonx</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
		<key>7</key>
		<dict>
			<key>Autoreply</key>
			<false/>
			<key>Date</key>
			<string>2004-04-19 12:46:32 -0500</string>
			<key>From</key>
			<string>fetchgreebledonx</string>
			<key>Message</key>
			<data>
			e1xydGYxXG1hY1xhbnNpY3BnMTAwMDBcY29jb2FydGYxMDIKe1xm
			b250dGJsXGYwXGZzd2lzc1xmY2hhcnNldDc3IEhlbHZldGljYTt9
			CntcY29sb3J0Ymw7XHJlZDI1NVxncmVlbjI1NVxibHVlMjU1O1xy
			ZWQwXGdyZWVuMFxibHVlMDt9ClxwYXJkXHR4NTYwXHR4MTEyMFx0
			eDE2ODBcdHgyMjQwXHR4MjgwMFx0eDMzNjBcdHgzOTIwXHR4NDQ4
			MFx0eDUwNDBcdHg1NjAwXHR4NjE2MFx0eDY3MjBccWxccW5hdHVy
			YWwKClxmMFxmczI0IFxjZjIgU28gd2hhdCBoYXBwZW5zIG5leHQ/
			fQ==
			</data>
			<key>Outgoing</key>
			<false/>
			<key>To</key>
			<string>TekJew</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
		<key>8</key>
		<dict>
			<key>Autoreply</key>
			<false/>
			<key>Date</key>
			<string>2004-04-19 12:46:07 -0500</string>
			<key>From</key>
			<string>fetchgreebledonx</string>
			<key>Message</key>
			<data>
			e1xydGYxXG1hY1xhbnNpY3BnMTAwMDBcY29jb2FydGYxMDIKe1xm
			b250dGJsXGYwXGZzd2lzc1xmY2hhcnNldDc3IEhlbHZldGljYTt9
			CntcY29sb3J0Ymw7XHJlZDI1NVxncmVlbjI1NVxibHVlMjU1O1xy
			ZWQwXGdyZWVuMFxibHVlMDt9ClxwYXJkXHR4NTYwXHR4MTEyMFx0
			eDE2ODBcdHgyMjQwXHR4MjgwMFx0eDMzNjBcdHgzOTIwXHR4NDQ4
			MFx0eDUwNDBcdHg1NjAwXHR4NjE2MFx0eDY3MjBccWxccW5hdHVy
			YWwKClxmMFxmczI0IFxjZjIgSSdtIHByZXR0eSBzdXJlIEkndmUg
			aGVhcmQgdGhpcyBvbmUgYmVmb3JlfQ==
			</data>
			<key>Outgoing</key>
			<false/>
			<key>To</key>
			<string>TekJew</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
		<key>9</key>
		<dict>
			<key>Autoreply</key>
			<false/>
			<key>Date</key>
			<string>2004-04-19 12:45:48 -0500</string>
			<key>From</key>
			<string>TekJew</string>
			<key>Message</key>
			<data>
			e1xydGYxXG1hY1xhbnNpY3BnMTAwMDBcY29jb2FydGYxMDIKe1xm
			b250dGJsXGYwXGZzd2lzc1xmY2hhcnNldDc3IEhlbHZldGljYTt9
			CntcY29sb3J0Ymw7XHJlZDI1NVxncmVlbjI1NVxibHVlMjU1O1xy
			ZWQwXGdyZWVuMFxibHVlMDt9ClxwYXJkXHR4NTYwXHR4MTEyMFx0
			eDE2ODBcdHgyMjQwXHR4MjgwMFx0eDMzNjBcdHgzOTIwXHR4NDQ4
			MFx0eDUwNDBcdHg1NjAwXHR4NjE2MFx0eDY3MjBccWxccW5hdHVy
			YWwKClxmMFxmczIyIFxjZjIgU28gYSBwcmllc3QsIGEgcmFiYmks
			IGFuZCBhIGNoaWNrZW4gd2FsayBpbnRvIGEgYmFyLn0=
			</data>
			<key>Outgoing</key>
			<true/>
			<key>To</key>
			<string>fetchgreebledonx</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
	</dict>
</dict>
</plist>
