<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>Name</key>
        <string>On New Messages</string>
        <key>Behavior</key>
        <array>
            <dict>
                <key>Behavior</key>
                <integer>1</integer>
                <key>Notification</key>
                <string>Content_MessageReceivedFirst</string>
            </dict>
            <dict>
                <key>Behavior</key>
                <integer>1</integer>
                <key>Notification</key>
                <string>Content_MessageReceived</string>
            </dict>
            <dict>
                <key>Behavior</key>
                <integer>2</integer>
                <key>Notification</key>
                <string>Interface_ErrorMessageRecieved</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>Name</key>
        <string>On Errors</string>
        <key>Behavior</key>
        <array>
            <dict>
                <key>Behavior</key>
                <integer>2</integer>
                <key>Notification</key>
                <string>Interface_ErrorMessageRecieved</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>Name</key>
        <string>Never</string>
        <key>Behavior</key>
        <array/>
    </dict>
</array>
</plist>
