@import url(../styles/fff.css);

body {
	background: url(../images/dots.png);
}

.container.message.you {
	background: rgba(102, 102, 204, .5);
}
.container.message.you .text a {
	color: #243048;
}

.container.message.me {
	background: rgba(102, 204, 102, .5);
}
.container.message.me .text a {
	color: #244830;
}

.container.context {
	background: rgba(102, 102, 102, .5);
}
.container.context .text a {
	color: #233d3d;
}

.container.status {
	background: rgba(102, 153, 153, .5);
}
.container.status .text a {
	color: #233030;
}
