<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Away Color</key>
    <string>102,102,0</string>
    <key>Away Inverted Color</key>
    <string>255,255,191</string>
    <key>Idle &amp; Away Color</key>
    <string>153,153,102</string>
    <key>Idle &amp; Away Inverted Color</key>
    <string>216,216,143</string>
    <key>Idle Color</key>
    <string>127,127,127</string>
    <key>Idle Inverted Color</key>
    <string>216,216,216</string>
    <key>Online Color</key>
    <string>0,0,0</string>
    <key>Online Inverted Color</key>
    <string>255,255,255</string>
    <key>Open Tab Color</key>
    <string>0,0,0</string>
    <key>Open Tab Inverted Color</key>
    <string>255,255,255</string>
    <key>Signed Off Color</key>
    <string>102,0,0</string>
    <key>Signed Off Inverted Color</key>
    <string>255,216,216</string>
    <key>Signed On Color</key>
    <string>0,0,102</string>
    <key>Signed On Inverted Color</key>
    <string>216,216,255</string>
    <key>Typing Color</key>
    <string>0,255,0</string>
    <key>Typing Inverted Color</key>
    <string>255,255,255</string>
    <key>Unviewed Content Color</key>
    <string>0,102,0</string>
    <key>Unviewed Content Inverted Color</key>
    <string>255,233,191</string>
    <key>Warning Color</key>
    <string>102,0,0</string>
    <key>Warning Inverted Color</key>
    <string>255,216,216</string>
</dict>
</plist>
