<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Away Color</key>
    <string>49,49,49</string>
    <key>Idle Color</key>
    <string>49,49,49</string>
    <key>Signed Off Color</key>
    <string>255,255,255</string>
    <key>Signed On Color</key>
    <string>255,255,255</string>
    <key>Typing Color</key>
    <string>255,255,255</string>
    <key>Unviewed Content Color</key>
    <string>255,255,255</string>
    <key>Away Background Color</key>
    <string>234,234,234</string>
    <key>Idle Background Color</key>
    <string>234,234,234</string>
    <key>Signed Off Background Color</key>
    <string>199,54,42</string>
    <key>Signed On Background Color</key>
    <string>91,187,99</string>
    <key>Typing Background Color</key>
    <string>255,145,71</string>
    <key>Unviewed Content Background Color</key>
    <string>0,144,197</string>
</dict>
</plist>
