<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Service Class</key>
	<string>MSN</string>
	<key>BasedOnURL</key>
	<string>http://messenger.msn.com/Resource/Emoticons.aspx</string>
	<key>Emoticons</key>
	<dict>
		<key>Angry Face.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-@</string>
				<string>:@</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Angry</string>
		</dict>
		<key>Blush.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-$</string>
				<string>:$</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Embarrassed</string>
		</dict>
		<key>Crying.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:'(</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Cry</string>
		</dict>
		<key>Frown.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-(</string>
				<string>:(</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Sad</string>
		</dict>
		<key>Gasp.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-O</string>
				<string>:-o</string>
				<string>:o</string>
				<string>:O</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Gasp</string>
		</dict>
		<key>Grin.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-D</string>
				<string>:-d</string>
				<string>:d</string>
				<string>:D</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Grin</string>
		</dict>
		<key>Halo.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(A)</string>
				<string>(a)</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Halo</string>
		</dict>
		<key>Kiss.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(K)</string>
				<string>(k)</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Kiss</string>
		</dict>
		<key>Lips are Sealed.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-#</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Lips Are Sealed</string>
		</dict>
		<key>Money-mouth.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-S</string>
				<string>:-s</string>
				<string>:s</string>
				<string>:S</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Confused</string>
		</dict>
		<key>Smile.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-)</string>
				<string>:)</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Smile</string>
		</dict>
		<key>Sticking Out Tongue.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-P</string>
				<string>:-p</string>
				<string>:p</string>
				<string>:P</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Sticking Out Tongue</string>
		</dict>
		<key>Wearing Sunglasses.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(H)</string>
				<string>(h)</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Cool</string>
		</dict>
		<key>Wink.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;-)</string>
				<string>;)</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Wink</string>
		</dict>
	</dict>
</dict>
</plist>
