<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Speech Enabled</key>
	<false/>
	<key>Speak Outgoing</key>
	<false/>
	<key>Speak Incoming</key>
	<false/>
	<key>Speak Status</key>
	<false/>
	<key>Speak Time</key>
	<false/>
	<key>Speak Sender</key>
	<true/>
	<key>Speak Message Text</key>
	<true/>
</dict>
</plist>
