<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Chat</key>
	<dict>
		<key>Date Opened</key>
		<string>2004-04-19 12:45:47 -0500</string>
		<key>Destination UID</key>
		<string>fetchgreebledonx</string>
		<key>Source UID</key>
		<string>TekJew</string>
		<key>Type</key>
		<string>IM</string>
	</dict>
	<key>Participants</key>
	<array>
		<dict>
			<key>Display Name</key>
			<string>Evan</string>
			<key>UID</key>
			<string>TekJew</string>
			<key>UserIcon Name</key>
			<string>SoulEdge.png</string>
		</dict>
		<dict>
			<key>Display Name</key>
			<string>Jeff</string>
			<key>UID</key>
			<string>fetchgreebledonx</string>
			<key>UserIcon Name</key>
			<string>Terminator.png</string>
		</dict>
	</array>
	<key>Preview Messages</key>
	<array>
		<dict>
			<key>Autoreply</key>
			<false/>
			<key>Date</key>
			<string>2004-04-19 12:45:48 -0500</string>
			<key>From</key>
			<string>TekJew</string>
			<key>Message</key>
			<data>
			BAt0eXBlZHN0cmVhbYED6IQBQISEhA1OU1RleHRTdG9yYWdlAISE
			GU5TTXV0YWJsZUF0dHJpYnV0ZWRTdHJpbmcAhIQSTlNBdHRyaWJ1
			dGVkU3RyaW5nAISECE5TT2JqZWN0AIWShISED05TTXV0YWJsZVN0
			cmluZwGEhAhOU1N0cmluZwGWhAErNFNvIGEgcHJpZXN0LCBhIHJh
			YmJpLCBhbmQgYSBjaGlja2VuIHdhbGsgaW50byBhIGJhci6GhAJp
			SQE0koSEhAxOU0RpY3Rpb25hcnkAloQBaQGShJmZBk5TRm9udIaS
			hISEBk5TRm9udBWWnByEBVsyOGNdBgAAABQAAAD+/wBIAGUAbAB2
			AGUAdABpAGMAYYQBZgyEAWMAoAGgAKAAhoaG
			</data>
			<key>Outgoing</key>
			<true/>
			<key>To</key>
			<string>fetchgreebledonx</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
		<dict>
			<key>Autoreply</key>
			<false/>
			<key>Date</key>
			<string>2004-04-19 12:46:07 -0500</string>
			<key>From</key>
			<string>fetchgreebledonx</string>
			<key>Message</key>
			<data>
			e1xydGYxXG1hY1xhbnNpY3BnMTAwMDBcY29jb2FydGYxMDIKe1xm
			b250dGJsXGYwXGZzd2lzc1xmY2hhcnNldDc3IEhlbHZldGljYTt9
			CntcY29sb3J0Ymw7XHJlZDI1NVxncmVlbjI1NVxibHVlMjU1O1xy
			ZWQwXGdyZWVuMFxibHVlMDt9ClxwYXJkXHR4NTYwXHR4MTEyMFx0
			eDE2ODBcdHgyMjQwXHR4MjgwMFx0eDMzNjBcdHgzOTIwXHR4NDQ4
			MFx0eDUwNDBcdHg1NjAwXHR4NjE2MFx0eDY3MjBccWxccW5hdHVy
			YWwKClxmMFxmczI0IFxjZjIgSSdtIHByZXR0eSBzdXJlIEkndmUg
			aGVhcmQgdGhpcyBvbmUgYmVmb3JlfQ==
			</data>
			<key>Outgoing</key>
			<false/>
			<key>To</key>
			<string>TekJew</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
		<dict>
			<key>Autoreply</key>
			<false/>
			<key>Date</key>
			<string>2004-04-19 12:46:32 -0500</string>
			<key>From</key>
			<string>fetchgreebledonx</string>
			<key>Message</key>
			<data>
			e1xydGYxXG1hY1xhbnNpY3BnMTAwMDBcY29jb2FydGYxMDIKe1xm
			b250dGJsXGYwXGZzd2lzc1xmY2hhcnNldDc3IEhlbHZldGljYTt9
			CntcY29sb3J0Ymw7XHJlZDI1NVxncmVlbjI1NVxibHVlMjU1O1xy
			ZWQwXGdyZWVuMFxibHVlMDt9ClxwYXJkXHR4NTYwXHR4MTEyMFx0
			eDE2ODBcdHgyMjQwXHR4MjgwMFx0eDMzNjBcdHgzOTIwXHR4NDQ4
			MFx0eDUwNDBcdHg1NjAwXHR4NjE2MFx0eDY3MjBccWxccW5hdHVy
			YWwKClxmMFxmczI0IFxjZjIgU28gd2hhdCBoYXBwZW5zIG5leHQ/
			fQ==
			</data>
			<key>Outgoing</key>
			<false/>
			<key>To</key>
			<string>TekJew</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
		<dict>
			<key>Autoreply</key>
			<false/>
			<key>Date</key>
			<string>2004-04-19 12:46:50 -0500</string>
			<key>From</key>
			<string>TekJew</string>
			<key>Message</key>
			<data>
			BAt0eXBlZHN0cmVhbYED6IQBQISEhA1OU1RleHRTdG9yYWdlAISE
			GU5TTXV0YWJsZUF0dHJpYnV0ZWRTdHJpbmcAhIQSTlNBdHRyaWJ1
			dGVkU3RyaW5nAISECE5TT2JqZWN0AIWShISED05TTXV0YWJsZVN0
			cmluZwGEhAhOU1N0cmluZwGWhAErRElmIEkgcmVtZW1iZXIgY29y
			cmVjdGx5LCB0aGV5IGV4cGxvZGUgb3V0d2FyZCBhdCB0aGUgc3Bl
			ZWQgb2YgbGlnaHQuhoQCaUkBRJKEhIQMTlNEaWN0aW9uYXJ5AJaE
			AWkBkoSZmQZOU0ZvbnSGkoSEhAZOU0ZvbnQVlpwchAVbMjhjXQYA
			AAAUAAAA/v8ASABlAGwAdgBlAHQAaQBjAGGEAWYMhAFjAKABoACg
			AIaGhg==
			</data>
			<key>Outgoing</key>
			<true/>
			<key>To</key>
			<string>fetchgreebledonx</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
		<dict>
			<key>Autoreply</key>
			<false/>
			<key>Date</key>
			<string>2004-04-19 12:47:00 -0500</string>
			<key>From</key>
			<string>TekJew</string>
			<key>Message</key>
			<data>
			BAt0eXBlZHN0cmVhbYED6IQBQISEhA1OU1RleHRTdG9yYWdlAISE
			GU5TTXV0YWJsZUF0dHJpYnV0ZWRTdHJpbmcAhIQSTlNBdHRyaWJ1
			dGVkU3RyaW5nAISECE5TT2JqZWN0AIWShISED05TTXV0YWJsZVN0
			cmluZwGEhAhOU1N0cmluZwGWhAErLUJ1dCB0aGF0IG1pZ2h0IGJl
			IGlmIHlvdSBjcm9zcyB0aGUgc3RyZWFtcy4uLoaEAmlJAS2ShISE
			DE5TRGljdGlvbmFyeQCWhAFpAZKEmZkGTlNGb250hpKEhIQGTlNG
			b250FZacHIQFWzI4Y10GAAAAFAAAAP7/AEgAZQBsAHYAZQB0AGkA
			YwBhhAFmDIQBYwCgAaAAoACGhoY=
			</data>
			<key>Outgoing</key>
			<true/>
			<key>To</key>
			<string>fetchgreebledonx</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
		<dict>
			<key>Autoreply</key>
			<false/>
			<key>Date</key>
			<string>2004-04-19 12:47:06 -0500</string>
			<key>From</key>
			<string>fetchgreebledonx</string>
			<key>Message</key>
			<data>
			e1xydGYxXG1hY1xhbnNpY3BnMTAwMDBcY29jb2FydGYxMDIKe1xm
			b250dGJsXGYwXGZzd2lzc1xmY2hhcnNldDc3IEhlbHZldGljYTt9
			CntcY29sb3J0Ymw7XHJlZDI1NVxncmVlbjI1NVxibHVlMjU1O1xy
			ZWQwXGdyZWVuMFxibHVlMDt9ClxwYXJkXHR4NTYwXHR4MTEyMFx0
			eDE2ODBcdHgyMjQwXHR4MjgwMFx0eDMzNjBcdHgzOTIwXHR4NDQ4
			MFx0eDUwNDBcdHg1NjAwXHR4NjE2MFx0eDY3MjBccWxccW5hdHVy
			YWwKClxmMFxmczI0IFxjZjIgLi4uIHRodXMgbmVnYXRpbmcgYWxs
			IGV4aXN0ZW5jZSF9
			</data>
			<key>Outgoing</key>
			<false/>
			<key>To</key>
			<string>TekJew</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
		<dict>
			<key>Autoreply</key>
			<false/>
			<key>Date</key>
			<string>2004-04-19 12:47:51 -0500</string>
			<key>From</key>
			<string>TekJew</string>
			<key>Message</key>
			<data>
			BAt0eXBlZHN0cmVhbYED6IQBQISEhA1OU1RleHRTdG9yYWdlAISE
			GU5TTXV0YWJsZUF0dHJpYnV0ZWRTdHJpbmcAhIQSTlNBdHRyaWJ1
			dGVkU3RyaW5nAISECE5TT2JqZWN0AIWShISED05TTXV0YWJsZVN0
			cmluZwGEhAhOU1N0cmluZwGWhAEra1ByZWNpc2VseSEgaXQncyBh
			IHJpc2sgb25lIHRha2VzIHdoZW5ldmVyIG9uZSB3YWxrcyBpbnRv
			IGEgYmFyLCBJJ20gYWZyYWlkLCBlc3BlY2lhbGx5IGlmIG9uZSBp
			cyBhIGNoaWNrZW4uhoQCaUkBa5KEhIQMTlNEaWN0aW9uYXJ5AJaE
			AWkBkoSZmQZOU0ZvbnSGkoSEhAZOU0ZvbnQVlpwchAVbMjhjXQYA
			AAAUAAAA/v8ASABlAGwAdgBlAHQAaQBjAGGEAWYMhAFjAKABoACg
			AIaGhg==
			</data>
			<key>Outgoing</key>
			<true/>
			<key>To</key>
			<string>fetchgreebledonx</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
		<dict>
			<key>Date</key>
			<string>2004-04-19 12:47:54 -0500</string>
			<key>From</key>
			<string>fetchgreebledonx</string>
			<key>Message</key>
			<string>Jeff went away</string>
			<key>Status Message Type</key>
			<string>away</string>
			<key>Type</key>
			<string>Status</string>
		</dict>
		<dict>
			<key>Date</key>
			<string>2004-04-19 12:47:55 -0500</string>
			<key>From</key>
			<string>fetchgreebledonx</string>
			<key>Message</key>
			<string>Away Message: "Away for the sake of being away."</string>
			<key>Status Message Type</key>
			<string>away_message</string>
			<key>Type</key>
			<string>Status</string>
		</dict>
		<dict>
			<key>Autoreply</key>
			<true/>
			<key>Date</key>
			<string>2004-04-19 12:47:51 -0500</string>
			<key>From</key>
			<string>fetchgreebledonx</string>
			<key>Message</key>
			<data>
			e1xydGYxXG1hY1xhbnNpY3BnMTAwMDBcY29jb2FydGYxMDIKe1xm
			b250dGJsXGYwXGZzd2lzc1xmY2hhcnNldDc3IEhlbHZldGljYTt9
			CntcY29sb3J0Ymw7XHJlZDI1NVxncmVlbjI1NVxibHVlMjU1O1xy
			ZWQwXGdyZWVuMFxibHVlMDt9ClxwYXJkXHR4NTYwXHR4MTEyMFx0
			eDE2ODBcdHgyMjQwXHR4MjgwMFx0eDMzNjBcdHgzOTIwXHR4NDQ4
			MFx0eDUwNDBcdHg1NjAwXHR4NjE2MFx0eDY3MjBccWxccW5hdHVy
			YWwKClxmMFxmczI0IFxjZjIgQXdheSBmb3IgdGhlIHNha2Ugb2Yg
			YmVpbmcgYXdheS59
			</data>
			<key>Outgoing</key>
			<false/>
			<key>To</key>
			<string>TekJew</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
		<dict>
			<key>Autoreply</key>
			<false/>
			<key>Date</key>
			<string>2004-04-19 12:48:02 -0500</string>
			<key>From</key>
			<string>TekJew</string>
			<key>Message</key>
			<data>
			BAt0eXBlZHN0cmVhbYED6IQBQISEhA1OU1RleHRTdG9yYWdlAISE
			GU5TTXV0YWJsZUF0dHJpYnV0ZWRTdHJpbmcAhIQSTlNBdHRyaWJ1
			dGVkU3RyaW5nAISECE5TT2JqZWN0AIWShISED05TTXV0YWJsZVN0
			cmluZwGEhAhOU1N0cmluZwGWhAErHEdvdHRhIHJ1bjsgY2F0Y2gg
			eWEgbGF0ZXIgOymGhAJpSQEckoSEhAxOU0RpY3Rpb25hcnkAloQB
			aQGShJmZBk5TRm9udIaShISEBk5TRm9udBWWnByEBVsyOGNdBgAA
			ABQAAAD+/wBIAGUAbAB2AGUAdABpAGMAYYQBZgyEAWMAoAGgAKAA
			hoaG
			</data>
			<key>Outgoing</key>
			<true/>
			<key>To</key>
			<string>fetchgreebledonx</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
	</array>
</dict>
</plist>
