<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Info</key>
	<string>Created by Ian Krieg

The Aquatech sound effects were made for Adium in 2002 by Ian Krieg.  You can reach him at AdiumContact@CometStorm.com.  The sounds may be distributed freely, but please keep the info about who made them with them.

Thanks!
Ian
</string>
	<key>Sounds</key>
	<dict>
		<key>Connected</key>
		<string>Bubble Up (Bell).aiff</string>
		<key>Contact Signed Off</key>
		<string>Bubble Down.aiff</string>
		<key>Contact Signed On</key>
		<string>Bubble Up.aiff</string>
		<key>Message Received</key>
		<string>Zip Down.aiff</string>
		<key>Message Received (New)</key>
		<string>Greetings.aiff</string>
		<key>Message Received (Stranger)</key>
		<string>Ghost.aiff</string>
		<key>Message Sent</key>
		<string>Zip Up.aiff</string>
	</dict>
</dict>
</plist>
