<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumPlugin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AdiumPlugin.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adium Plugin</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AdIM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumTheme</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AdiumTheme.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adium Theme</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AdIM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumIcon</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AdiumIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adium Dock Icon</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AdIM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumSoundset</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AdiumSoundset.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adium Sound Set</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AdIM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumEmoticonset</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AdiumEmoticonset.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adium Emoticon Set</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AdIM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumMessageStyle</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Adium Message Style</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AdIM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Adium</string>
	<key>CFBundleGetInfoString</key>
	<string>0.57, Copyright 2001-2004 Adam Iser</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Adium Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Adium Help</string>
	<key>CFBundleIconFile</key>
	<string>Adium.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.adiumX.adiumX</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Adium</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.57</string>
	<key>CFBundleSignature</key>
	<string>AdIM</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLIconFile</key>
			<string>generic</string>
			<key>CFBundleURLName</key>
			<string>aim url</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>aim</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0.57</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
