<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Emoticons</key>
	<dict>
		<key>Alien 1.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=:)</string>
			</array>
			<key>Name</key>
			<string>Alien 1</string>
		</dict>
		<key>Alien 2.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;-)</string>
			</array>
			<key>Name</key>
			<string>Alien 2</string>
		</dict>
		<key>Angel.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>O:)</string>
				<string>O:-)</string>
			</array>
			<key>Name</key>
			<string>Angel</string>
		</dict>
		<key>Angry.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:O</string>
				<string>:-O</string>
			</array>
			<key>Name</key>
			<string>Angry</string>
		</dict>
		<key>Applause.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=D&gt;</string>
			</array>
			<key>Name</key>
			<string>Applause</string>
		</dict>
		<key>Batting Eyelashes.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;;)</string>
			</array>
			<key>Name</key>
			<string>Batting Eyelashes</string>
		</dict>
		<key>Beat Up.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>b-(</string>
			</array>
			<key>Name</key>
			<string>Beat Up</string>
		</dict>
		<key>Big Grin.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:D</string>
				<string>:-D</string>
			</array>
			<key>Name</key>
			<string>Big Grin</string>
		</dict>
		<key>Blushing.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:"&gt;</string>
			</array>
			<key>Name</key>
			<string>Blushing</string>
		</dict>
		<key>Chicken.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>~:&gt;</string>
			</array>
			<key>Name</key>
			<string>Chicken</string>
		</dict>
		<key>Clown.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:o)</string>
			</array>
			<key>Name</key>
			<string>Clown</string>
		</dict>
		<key>Coffee.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>~o)</string>
			</array>
			<key>Name</key>
			<string>Coffee</string>
		</dict>
		<key>Confused.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-/</string>
				<string>:/</string>
			</array>
			<key>Name</key>
			<string>Confused</string>
		</dict>
		<key>Cool.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>B-)</string>
				<string>8-)</string>
			</array>
			<key>Name</key>
			<string>Cool</string>
		</dict>
		<key>Cow.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>3:-O</string>
			</array>
			<key>Name</key>
			<string>Cow</string>
		</dict>
		<key>Cowboy.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&lt;):)</string>
			</array>
			<key>Name</key>
			<string>Cowboy</string>
		</dict>
		<key>Crying.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:((</string>
				<string>:-((</string>
				<string>:'(</string>
				<string>:'-(</string>
			</array>
			<key>Name</key>
			<string>Crying</string>
		</dict>
		<key>D'oh!.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>#-o</string>
				<string>#-O</string>
			</array>
			<key>Name</key>
			<string>D'oh!</string>
		</dict>
		<key>Dancing.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>\:D/</string>
			</array>
			<key>Name</key>
			<string>Dancing</string>
		</dict>
		<key>Devilish.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:)</string>
				<string>&gt;:-)</string>
			</array>
			<key>Name</key>
			<string>Devilish</string>
		</dict>
		<key>Drooling.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=P~</string>
			</array>
			<key>Name</key>
			<string>Drooling</string>
		</dict>
		<key>Flag.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>**==</string>
			</array>
			<key>Name</key>
			<string>Flag</string>
		</dict>
		<key>Frustrated.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-L</string>
				<string>:L</string>
			</array>
			<key>Name</key>
			<string>Frustrated</string>
		</dict>
		<key>Good Luck.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>%%-</string>
			</array>
			<key>Name</key>
			<string>Good Luck</string>
		</dict>
		<key>Happy.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:)</string>
				<string>:-)</string>
			</array>
			<key>Name</key>
			<string>Happy</string>
		</dict>
		<key>Hugs.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:D&lt;</string>
			</array>
			<key>Name</key>
			<string>Hugs</string>
		</dict>
		<key>Hypnotized.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>@-)</string>
			</array>
			<key>Name</key>
			<string>Hypnotized</string>
		</dict>
		<key>Idea.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>*-:)</string>
			</array>
			<key>Name</key>
			<string>Idea</string>
		</dict>
		<key>Kiss.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:*</string>
				<string>:-*</string>
			</array>
			<key>Name</key>
			<string>Kiss</string>
		</dict>
		<key>Laughing.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:))</string>
				<string>:-))</string>
			</array>
			<key>Name</key>
			<string>Laughing</string>
		</dict>
		<key>Liar Liar.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:^o</string>
			</array>
			<key>Name</key>
			<string>Liar Liar</string>
		</dict>
		<key>Love Struck.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:x</string>
				<string>:X</string>
			</array>
			<key>Name</key>
			<string>Love Struck</string>
		</dict>
		<key>Money Eyes.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>$-)</string>
			</array>
			<key>Name</key>
			<string>Money Eyes</string>
		</dict>
		<key>Monkey.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:(|)</string>
			</array>
			<key>Name</key>
			<string>Monkey</string>
		</dict>
		<key>Nerd.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-B</string>
			</array>
			<key>Name</key>
			<string>Nerd</string>
		</dict>
		<key>Not Talking.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>[-(</string>
			</array>
			<key>Name</key>
			<string>Not Talking</string>
		</dict>
		<key>Peace.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:)&gt;-</string>
			</array>
			<key>Name</key>
			<string>Peace</string>
		</dict>
		<key>Pig.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:@)</string>
			</array>
			<key>Name</key>
			<string>Pig</string>
		</dict>
		<key>Praying.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>[-o&lt;</string>
			</array>
			<key>Name</key>
			<string>Praying</string>
		</dict>
		<key>Pumpkin.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(~~)</string>
			</array>
			<key>Name</key>
			<string>Pumpkin</string>
		</dict>
		<key>Raised Eyebrow.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/:)</string>
				<string>/:-)</string>
			</array>
			<key>Name</key>
			<string>Raised Eyebrow</string>
		</dict>
		<key>Rolling Eyes.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>8-|</string>
			</array>
			<key>Name</key>
			<string>Rolling Eyes</string>
		</dict>
		<key>Rose.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>@};-</string>
			</array>
			<key>Name</key>
			<string>Rose</string>
		</dict>
		<key>Sad.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:(</string>
				<string>:-(</string>
			</array>
			<key>Name</key>
			<string>Sad</string>
		</dict>
		<key>Shame on You.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>[-X</string>
			</array>
			<key>Name</key>
			<string>Shame on You</string>
		</dict>
		<key>Shhh.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-$</string>
			</array>
			<key>Name</key>
			<string>Shhh</string>
		</dict>
		<key>Shock.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:O</string>
				<string>:-O</string>
			</array>
			<key>Name</key>
			<string>Shock</string>
		</dict>
		<key>Sick.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-&amp;</string>
			</array>
			<key>Name</key>
			<string>Sick</string>
		</dict>
		<key>Silly.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>8-}</string>
			</array>
			<key>Name</key>
			<string>Silly</string>
		</dict>
		<key>Skull.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>8-X</string>
			</array>
			<key>Name</key>
			<string>Skull</string>
		</dict>
		<key>Sleep.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>I-)</string>
			</array>
			<key>Name</key>
			<string>Sleep</string>
		</dict>
		<key>Smug.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:&gt;</string>
				<string>:-&gt;</string>
			</array>
			<key>Name</key>
			<string>Smug</string>
		</dict>
		<key>Straight Face.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:|</string>
				<string>:-|</string>
			</array>
			<key>Name</key>
			<string>Straight Face</string>
		</dict>
		<key>Talk to The Hand.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=;</string>
			</array>
			<key>Name</key>
			<string>Talk to The Hand</string>
		</dict>
		<key>Thinking.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-?</string>
			</array>
			<key>Name</key>
			<string>Thinking</string>
		</dict>
		<key>Tired.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(:|</string>
			</array>
			<key>Name</key>
			<string>Tired</string>
		</dict>
		<key>Tongue.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:p</string>
				<string>:P</string>
				<string>:-p</string>
				<string>:-P</string>
			</array>
			<key>Name</key>
			<string>Tongue</string>
		</dict>
		<key>Whistling.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-"</string>
			</array>
			<key>Name</key>
			<string>Whistling</string>
		</dict>
		<key>Wink.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;)</string>
				<string>;-)</string>
			</array>
			<key>Name</key>
			<string>Wink</string>
		</dict>
		<key>Worried.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-s</string>
				<string>:-S</string>
			</array>
			<key>Name</key>
			<string>Worried</string>
		</dict>
	</dict>
</dict>
</plist>
