<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>Tab Away Color</string>
    <string>Tab Away Enabled</string>
    <string>Tab Idle And Away Color</string>
    <string>Tab Idle And Away Enabled</string>
    <string>Tab Idle Color</string>
    <string>Tab Idle Enabled</string>
    <string>Tab Online Color</string>
    <string>Tab Online Enabled</string>
    <string>Tab Signed Off Color</string>
    <string>Tab Signed Off Enabled</string>
    <string>Tab Signed On Color</string>
    <string>Tab Signed On Enabled</string>
    <string>Tab Typing Color</string>
    <string>Tab Typing Enabled</string>
    <string>Tab Unviewed Content Color</string>
    <string>Tab Unviewed Content Enabled</string>
	<string>Tab Offline Color</string>
	<string>Tab Offline Color Enabled</string>
    <string>Tab Unviewed Flash Enabled</string>
    <string>Tab Use Custom Colors</string>
</array>
</plist>
