<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Tab Away Color</key>
    <string>73,73,0</string>
    <key>Tab Away Enabled</key>
    <true/>
    <key>Tab Idle And Away Color</key>
    <string>75,75,75</string>
    <key>Tab Idle And Away Enabled</key>
    <false/>
    <key>Tab Idle Color</key>
    <string>75,75,75</string>
    <key>Tab Idle Enabled</key>
    <true/>
    <key>Tab Online Color</key>
    <string>0,0,0</string>
    <key>Tab Online Enabled</key>
    <false/>
    <key>Tab Signed Off Color</key>
    <string>89,0,0</string>
    <key>Tab Signed Off Enabled</key>
    <true/>
    <key>Tab Signed On Color</key>
    <string>0,88,14</string>
    <key>Tab Signed On Enabled</key>
    <true/>
    <key>Tab Typing Color</key>
    <string>0,84,114</string>
    <key>Tab Typing Enabled</key>
    <true/>
    <key>Tab Unviewed Content Color</key>
    <string>0,18,114</string>
    <key>Tab Unviewed Content Enabled</key>
    <true/>
	<key>Tab Offline Color</key>
	<string>50,50,50</string>
	<key>Tab Offline Color Enabled</key>
	<true/>
    <key>Tab Unviewed Flash Enabled</key>
    <true/>
    <key>Tab Use Custom Colors</key>
    <true/>
</dict>
</plist>
