<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Black</key>
    <dict>
        <key>Dark</key>
        <string>0,0,0</string>
        <key>Light</key>
        <string>255,255,255</string>
    </dict>
    <key>Blue</key>
    <dict>
        <key>Dark</key>
        <string>0,32,127</string>
        <key>Light</key>
        <string>64,112,255</string>
    </dict>
    <key>Cyan</key>
    <dict>
        <key>Dark</key>
        <string>0,127,127</string>
        <key>Light</key>
        <string>64,255,255</string>
    </dict>
    <key>Green</key>
    <dict>
        <key>Dark</key>
        <string>0,127,0</string>
        <key>Light</key>
        <string>64,255,64</string>
    </dict>
    <key>Orange</key>
    <dict>
        <key>Dark</key>
        <string>127,64,0</string>
        <key>Light</key>
        <string>255,159,64</string>
    </dict>
    <key>Pink</key>
    <dict>
        <key>Dark</key>
        <string>127,0,127</string>
        <key>Light</key>
        <string>255,64,255</string>
    </dict>
    <key>Purple</key>
    <dict>
        <key>Dark</key>
        <string>64,0,127</string>
        <key>Light</key>
        <string>159,64,255</string>
    </dict>
    <key>Red</key>
    <dict>
        <key>Dark</key>
        <string>127,0,0</string>
        <key>Light</key>
        <string>255,64,64</string>
    </dict>
    <key>Yellow</key>
    <dict>
        <key>Dark</key>
        <string>127,127,0</string>
        <key>Light</key>
        <string>255,255,64</string>
    </dict>
</dict>
</plist>
