<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Show GridLines</string>
	<string>Show Sender Gradient</string>
	<string>Incoming Prefix Color Name</string>
	<string>Incoming Prefix Color</string>
	<string>Incoming Prefix Light Color</string>
	<string>Outgoing Prefix Color Name</string>
	<string>Outgoing Prefix Color</string>
	<string>Outgoing Prefix Light Color</string>
	<string>GridLine Darkness</string>
	<string>Sender Gradient Darkness</string>
 </array>
</plist>
