<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Icons</key>
	<dict>
		<key>available</key>
		<string>tab-available.tiff</string>
		<key>away</key>
		<string>tab-away.png</string>
		<key>idle</key>
		<string>tab-idle.png</string>
		<key>offline</key>
		<string>tab-offline.png</string>
		<key>unknown</key>
		<string>tab-unknown.png</string>
		<key>typing</key>
		<string>tab-typing.png</string>
		<key>entered-text</key>
		<string>tab-entered-text.png</string>
	</dict>
</dict>
</plist>
