<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Show Event Bezel</key>
	<false/>
        <key>Event Bezel Position</key>
        <integer>0</integer>
        <key>Display if Online</key>
        <true/>
        <key>Display if Offline</key>
        <true/>
        <key>Display if Available</key>
        <true/>
        <key>Display if Away</key>
        <true/>
        <key>Display if no Longer Idle</key>
        <true/>
        <key>Display if Idle</key>
        <true/>
        <key>Display if First Message</key>
        <true/>
</dict>
</plist>