<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Show Event Bezel</key>
	<false/>
        <key>Event Bezel Position</key>
        <integer>0</integer>
        <key>Display if Online</key>
        <true/>
        <key>Display if Offline</key>
        <true/>
        <key>Display if Available</key>
        <false/>
        <key>Display if Away</key>
        <false/>
        <key>Display if no Longer Idle</key>
        <false/>
        <key>Display if Idle</key>
        <false/>
        <key>Display if First Message</key>
        <true/>
        <key>Show Image Badges</key>
        <true/>
        <key>Show Color Labels</key>
        <true/>
        <key>Duration</key>
        <integer>3</integer>
        <key>Show Name Labels</key>
        <false/>
        <key>Size</key>
        <integer>0</integer>
        <key>Background</key>
        <integer>0</integer>
        <key>Fade In</key>
        <false/>
        <key>Fade Out</key>
        <true/>
        <key>Show Hidden</key>
        <true/>
        <key>Show While Away</key>
        <true/>
        <key>Include Text</key>
        <true/>
</dict>
</plist>