<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Force Background Color</key>
	<false/>
	<key>Force Font</key>
	<false/>
	<key>Force Text Color</key>
	<false/>
	<key>Desired Font</key>
	<string>Helvetica,12</string>
	<key>Desired Text Color</key>
	<string>0,0,0</string>
	<key>Desired Background Color</key>
	<string>226,226,226</string>
</dict>
</plist>
