@import url(../styles/fff.css);

body {
	background: url(../images/flower.png);
}

.container.message.me {
	background: rgba(255,255,153,.5);
}
.container.message.me .text a {
	color: #80734d;
}

.container.message.you {
	background: rgba(255,153,153,.5);
}
.container.message.you .text a {
	color: #80584d;
}

.container.context {
	background: rgba(255,255,255,.5);
}
.container.context .text a {
	color: #807366;
}

.container.status {
	background: rgba(255,204,153,.5);
}
.container.status .text a {
	color: #80664d;
}
