<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Emoticons</key>
	<dict>
		<key>Angry Face.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:o</string>
				<string>&gt;:-o</string>
				<string>&gt;:O</string>
				<string>&gt;:-O</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Angry Face</string>
		</dict>
		<key>Blush.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-[</string>
			</array>
			<key>Name</key>
			<string>Blush</string>
		</dict>
		<key>Crying.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:'(</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Crying</string>
		</dict>
		<key>Foot In Mouth.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-!</string>
			</array>
			<key>Name</key>
			<string>Foot In Mouth</string>
		</dict>
		<key>Frown.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-(</string>
				<string>:(</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Frown</string>
		</dict>
		<key>Gasp.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=-o</string>
				<string>=-O</string>
				<string>=o</string>
				<string>=O</string>
				<string>:o</string>
				<string>:O</string>
				<string>:-o</string>
				<string>:-O</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Gasp</string>
		</dict>
		<key>Grin.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-D</string>
				<string>:D</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Grin</string>
		</dict>
		<key>Halo.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>O:-)</string>
				<string>o:-)</string>
			</array>
			<key>Name</key>
			<string>Halo</string>
		</dict>
		<key>Kiss.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-*</string>
			</array>
			<key>Name</key>
			<string>Kiss</string>
		</dict>
		<key>Lips are Sealed.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-x</string>
				<string>:-X</string>
			</array>
			<key>Name</key>
			<string>Lips are Sealed</string>
		</dict>
		<key>Money-mouth.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-$</string>
			</array>
			<key>Name</key>
			<string>Money-mouth</string>
		</dict>
		<key>Smile.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-)</string>
				<string>:)</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Smile</string>
		</dict>
		<key>Sticking Out Tongue.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-p</string>
				<string>:-P</string>
				<string>:P</string>
				<string>:p</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Sticking Out Tongue</string>
		</dict>
		<key>Undecided.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-\</string>
				<string>:-/</string>
				<string>:/</string>
				<string>:\</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Undecided</string>
		</dict>
		<key>Wearing Sunglasses.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>8-)</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Wearing Sunglasses</string>
		</dict>
		<key>Wink.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;-)</string>
				<string>;)</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Wink</string>
		</dict>
	</dict>
</dict>
</plist>
