<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Emoticons</key>
	<dict>
		<key>Angry Face.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:o</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Angry Face</string>
		</dict>
		<key>Blush.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-[</string>
				<string>:[</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Blush</string>
		</dict>
		<key>Crying.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:'(</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Crying</string>
		</dict>
		<key>Foot In Mouth.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-!</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Foot In Mouth</string>
		</dict>
		<key>Frown.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-(</string>
				<string>:(</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Frown</string>
		</dict>
		<key>Gasp.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=-o</string>
				<string>=-O</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Gasp</string>
		</dict>
		<key>Grin.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-D</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Grin</string>
		</dict>
		<key>Halo.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>O:-)</string>
				<string>O:)</string>
				<string>o:-)</string>
				<string>o:)</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Halo</string>
		</dict>
		<key>Kiss.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-*</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Kiss</string>
		</dict>
		<key>Lips are Sealed.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-x</string>
				<string>:-X</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Lips are Sealed</string>
		</dict>
		<key>Money-mouth.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-$</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Money-mouth</string>
		</dict>
		<key>Smile.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-)</string>
				<string>:)</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Smile</string>
		</dict>
		<key>Sticking Out Tongue.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-p</string>
				<string>:-P</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Sticking Out Tongue</string>
		</dict>
		<key>Undecided.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-\</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Undecided</string>
		</dict>
		<key>Wearing Sunglasses.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>8-)</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Wearing Sunglasses</string>
		</dict>
		<key>Wink.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;-)</string>
				<string>;)</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Wink</string>
		</dict>
	</dict>
</dict>
</plist>
