<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Preview</key>
	<array>
				<array>
                        <string>Base</string>
                </array>
				<array>
                        <string>Base</string>
                        <string>Connecting</string>
                </array>
				<array>
                        <string>Base</string>
                        <string>Online</string>
                </array>
                <array>
                        <string>Base</string>
                        <string>Online</string>
                        <string>Alert</string>
                </array>
                <array>
                        <string>Base</string>
                        <string>Online</string>
                        <string>Away</string>
                </array>
                <array>
                        <string>Base</string>
                        <string>Online</string>
                        <string>Idle</string>
                </array>

        </array>
</dict>
</plist>